MONGODB_URI=
MONGODB_DB_NAME=

POSTGRES_DATABASE_URL=

DATABASE=postgres

SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=no-reply@cleanshopping.dev

ADMIN_USER_ID=

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_SUCCESS_URL=http://localhost:3000
